<html>
    <head>
        <title>*** yyeejj ***</title>
    </head>
    <body>
        <div>
            <h1><a href="">yyeejj Blog</a></h1>
        </div>
        
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <div>
            <p>published: 07.03.2019, 15:33</p>
            <h2><a href="">1. Django</a></h2>
            <p>Hello</p>
        </div>

        <div>
            <p>published: 07.03.2019, 15:33</p>
            <h2><a href="">2. SQLite</a></h2>
            <p>Hi</p>
        </div>
    </body>
</html>
